@model AltivaWebApp.GEDomain.TbSePais

<h3 data-translate="PCrearTitulo">Crear País</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEs" class="control-label">Nombre en español:</label>
                <input asp-for="NombreEs" class="form-control"  maxlength="50" />
                <span asp-validation-for="NombreEs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEn" class="control-label">Nombre en inglés</label>
                <input asp-for="NombreEn" class="form-control"  maxlength="50" />
                <span asp-validation-for="NombreEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GentilicioEs" class="control-label">Gentilicio en español</label>
                <input asp-for="GentilicioEs" class="form-control"  maxlength="50" />
                <span asp-validation-for="GentilicioEs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GentilicioEn" class="control-label">Gentilicio en inglés</label>
                <input asp-for="GentilicioEn" class="form-control"  maxlength="50" />
                <span asp-validation-for="GentilicioEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Inactivo" /> <span data-translate="estadoI">Activo</span>?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label data-translate="iniciales" asp-for="Iniciales" class="control-label">Iniciales:</label>
                <input asp-for="Iniciales" class="form-control"  maxlength="50" />
                <span asp-validation-for="Iniciales" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button data-translate="submitguardar" type="submit" value="Guardar" class="btn btn-success" >Guardar <i  class="fas fa-save"></i></button>
                <a data-translate="atras" asp-action="Index" class="btn btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>