@model AltivaWebApp.GEDomain.TbSePais

<h4>Editar Pais:</h4>
<hr />
<div class="row">

    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreEs" class="control-label">NombreEs:</label>
                <input asp-for="NombreEs" class="form-control" required maxlength="50" />
                <span asp-validation-for="NombreEs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEn" class="control-label">NombreEn:</label>
                <input asp-for="NombreEn" class="form-control" required maxlength="50" />
                <span asp-validation-for="NombreEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GentilicioEs" class="control-label">GentilicioEs:</label>
                <input asp-for="GentilicioEs" class="form-control" required maxlength="50" />
                <span asp-validation-for="GentilicioEs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GentilicioEn" class="control-label">GentilicioEn:</label>
                <input asp-for="GentilicioEn" class="form-control" required maxlength="50" />
                <span asp-validation-for="GentilicioEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Inactivo" /> @Html.DisplayNameFor(model => model.Inactivo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Iniciales" class="control-label">Iniciales:</label>
                <input asp-for="Iniciales" class="form-control" required maxlength="50" />
                <span asp-validation-for="Iniciales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary btn-sm" style="width:auto;  font-size:1.1em;" />
                |

                <a asp-action="Index" style="width:auto; font-size:1.1em;" class="btn btn-default btn-sm">Atrás</a>
                |
                <a asp-action="CrearReferenciaPais" asp-route-id="@ViewBag.id" asp-controller="Mensajes" class="btn btn-warning btn-sm" style="width:auto;  font-size:1.1em;">  <i class="fas fa-comments"></i></a>

            </div>
        </form>

    </div>
</div>

<div>

</div>

