@model AltivaWebApp.GEDomain.TbSePais
@inject IStringLocalizer<SharedResources> Lb
<h4>Editar País</h4>
<hr />
<div class="row">

    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreEs" class="control-label">Nombre en Español:</label>
                <input asp-for="NombreEs" class="form-control" required maxlength="50" />
                <span asp-validation-for="NombreEs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEn" class="control-label">Nombre en Inglés:</label>
                <input asp-for="NombreEn" class="form-control" required maxlength="50" />
                <span asp-validation-for="NombreEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GentilicioEs" class="control-label">Gentilicio en Español:</label>
                <input asp-for="GentilicioEs" class="form-control" required maxlength="50" />
                <span asp-validation-for="GentilicioEs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GentilicioEn" class="control-label">Gentilicio en Inglés:</label>
                <input asp-for="GentilicioEn" class="form-control" required maxlength="50" />
                <span asp-validation-for="GentilicioEn" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label>
                    Inactivo? <input asp-for="Inactivo" />
                </label>

            </div>
            <div class="form-group">
                <label asp-for="Iniciales" class="control-label">Iniciales:</label>
                <input asp-for="Iniciales" class="form-control" required maxlength="50" />
                <span asp-validation-for="Iniciales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Editar" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>
                <a class="btn btn-default " onclick="cancelar()">Cancelar</a>
            </div>
        </form>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="comentarios">

        </div>
    </div>
</div>

<script src="~/js/comentario.js"></script>

<script>
    $(document).ready(function () {

        GetComentarios("Paises", @Model.Id);

    });

     function cancelar() {
        bootbox.confirm("@Lb["confirmCancelar"]", function (result) {
            if (result)
                window.location.href = "@Url.Action("Index")";

        });
    }

</script>

