@model IList<TbPrImagenInventario>

    <div class="row" style="width: 18rem;">
        <img src=" " class="card-img-top">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <img src="@item.Imagen" class="img-responsive"/>
            </div>
        }

    </div>
