.vs/
AltivaWebApp/bin/
AltivaWebApp/obj/
AltivaWebApp.Repositories/obj/
AltivaWebApp.Services/obj/
AltivaWebApp.ViewModels/obj/
**/bin/Debug/
**/bin/Release/
**/obj/
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.csproj.CoreCompileInputs.cache
