@model AltivaWebApp.Domains.TbFdTipoCliente
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="container">
    <div class="col-md-12">
        <div class="row">


            <div class="form-group">
                <label> Nombre:</label>
                <input type="text" class="form-control" id="Nombre" asp-for="Nombre" />
            </div>
            <div class="form-group col-sm-4 col-md-12">
                <label>Inactivo: <span><i class="fas fa-question"></i></span></label>
                <div>
                    <input type="checkbox" checked="@Model.Inactivo" id="inactivo" />
                </div>
            </div>
        </div>
        <div class="row">
            
            <button class="btn btn-success" onclick="btnGuardarTipoCliente()" type="submit" >Guardar</button>
            <button class="btn btn-default">Cerrar</button>
        </div>
    </div>
</div>
<script>

    //guardar tipo cliente

    function btnGuardarTipoCliente() {

        var inactivo = "";
        var nombre = "";
        nombre = $("#nombre").val();
        if ($('#inactivo').prop('checked')) {

            inactivo = true;
        } else {
            inactivo = false;

        }
        var tipoCliente = {
            id: null,
            idPadre: 0,
            nombre: nombre,
            inactivo: inactivo
        };
        $.ajax({
            type: "POST",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: '/TipoCliente/CrearTipoCliente/' + tipoCliente,

            success: function (data) {

            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }
        });
    }
   
</script>