@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";

}
<div class="col-md-12">
  
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h6 data-translate="indexNombreGrupo">Digite el nombre del grupo empresarial</h6>
    </div>
    <div class="col-md-3">
        @if (ViewBag.error == 1)
        {
            <span data-translate="indexError" class="text-danger">Nombre de Grupo Empresas Inválido.</span>
        }
        <div class="input-group">
            <input data-translate="indexInputNombreGrupo" required type="text" id="txt_grupo" class="form-control" placeholder="Nombre del grupo empresarial">
            <div class="input-group-append">
                <button data-translate="indexBtnIrGE" id="ir" class="btn btn-outline-primary">Ir</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {




        $('#ir').attr("disabled", true);


        $('#ir').click(function () {
            setUrl();
        });



        $('#txt_grupo').keyup(function (e) {
            //console.log($(this).val());
            if($(this).val() === '')
                $('#ir').attr("disabled", true);
            else
                $('#ir').attr("disabled", false);

            var code = (e.keyCode ? e.keyCode : e.which); if (code == 13) { setUrl(); return false; }
        });


        function setUrl(){
            var grupo = $('#txt_grupo').val();
            var url = '@Url.Action("Login", new { grupo = "__grupo__"})';

            window.location.href = url.replace('__grupo__', grupo);
        }

    });
</script>





