
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}
@{
    int posId = 0;
    int posFecha = 1;
    int posEstado = 2;
    int posTotal = 3;
    int posNota = 8;
    int posCliente = 9;
    int posVendedor = 10;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_CrearEditarDevolucionDetalle</title>
</head>
<body>
</body>
</html>
