@model IEnumerable<AltivaWebApp.DomainsConta.Asiento>
@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!DOCTYPE html>

<html>
<head>
   @{ }
</head>
<body>
</body>
</html>
