@model AltivaWebApp.ViewModels.UsuarioViewModel

<h3 data-translate="MUNuevo">Nuevo Usuario</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearUsuario" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label data-translate="codigo" asp-for="codigo" class="control-label">Codigo:</label>
                <input asp-for="codigo" class="form-control" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="nombre" asp-for="nombre" class="control-label">Nombre:</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="estado" asp-for="estado" class="control-label">Estado:</label>
                <select asp-for="estado" class="form-control">
                    <option data-translate="estadoA" value="ACTIVO">ACTIVO</option>
                    <option data-translate="estadoI" value="INACTIVO">INACTIVO</option>
                </select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="iniciales" asp-for="iniciales" class="control-label">Iniciales:</label>
                <input asp-for="iniciales" class="form-control" />
                <span asp-validation-for="iniciales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="contrasena" asp-for="contrasena" class="control-label">Contraseña:</label>
                <input type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Debe contener al menos 8 caracteres, un número, una mayúscula y un caracter especial" asp-for="contrasena" class="form-control" />
                <span asp-validation-for="contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar Contraseña:</label>
                <input type="password"  title="Debe contener al menos 8 caracteres, un número, una mayúscula y un caracter especial" asp-for="ConfirmPassowrd" class="form-control" />
                <span asp-validation-for="ConfirmPassowrd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="correo" asp-for="correo" class="control-label">Correo</label>
                <input type="email" asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span data-translate="avatar" class="input-group-text" id="inputGroup-sizing-sm">Cargar tu avatar</span>
                <input type="file" asp-for="Foto" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="form-group" hidden>
                <label asp-for="Id_Usuario" class="control-label">Id Usuario:</label>
                <input asp-for="Id_Usuario" value="1" class="form-control" />
                <span asp-validation-for="Id_Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><span data-translate="guardar">Guardar </span><span><i class="fas fa-save"></i></span></button>
                <a data-translate="cancelar"  class="btn btn-default btnAtras">Cancelar</a>
            </div>
        </form>
    </div>
</div>
