@model AltivaWebApp.ViewModels.UsuarioViewModel


<h4 data-translate="MUEditarUsuario">Editar Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-controller="ManejoUsuarios" asp-action="EditarUsuario" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input asp-for="id" class="form-control" />
            </div>
            <div class="form-group">
                <label data-translate="codigo" asp-for="codigo" class="control-label">Codigo:</label>
                <input asp-for="codigo" class="form-control" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="nombre" asp-for="nombre" class="control-label">Nombre:</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="estado" asp-for="estado" class="control-label">Estado:</label>
                <select asp-for="estado" class="form-control">
                    <option data-translate="estadoA" value="ACTIVO">ACTIVO</option>
                    <option data-translate="estadoI" value="INACTIVO">INACTIVO</option>
                </select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="iniciales" asp-for="iniciales" class="control-label">Iniciales:</label>
                <input asp-for="iniciales" class="form-control" />
                <span asp-validation-for="iniciales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="contrasena" asp-for="contrasena" class="control-label">Contraseña:</label>
                <input pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Es necesario que contenga al menos un número, una mayúsculay un caracter especial" asp-for="contrasena" class="form-control" />
                <span asp-validation-for="contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="correo" asp-for="correo" class="control-label">Correo:</label>
                <input type="email" asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Id_Usuario" class="control-label">Id usuario:</label>
                <input asp-for="Id_Usuario" class="form-control" />
                <span asp-validation-for="Id_Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" data-translate="submitguardar" value="Guardar" class="btn btn-primary" />
                <a href="@Url.Action("ListaUsuarios")" data-translate="cancelar" class="btn btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>