
@model AltivaWebApp.ViewModels.ViewModelAdjunto
<div class="row panel panel-default">
    <form asp-action="CrearComentarioPais" asp-controller="Mensajes" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" value="@ViewBag.id" id="hide" name="id" hidden />
        </div>
        <div class="col-md-6">
            <div class="form-group ">
                <label class="control-label" data-translate="Comentario">Comentario:</label>

                <textarea 2 rows="8" class="form-control input-lg" pattern=".{10,100}" title="Este mensaje su minimo de caracteres es 10" name="mensaje" required style="height:70px; width:450px;"></textarea>

                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">

            <label class="control-label" data-translate="seleccione">Seleccione un archivo</label>

            <input class="form-control input-lg  " type="file" asp-for="Files" multiple="multiple" id="fileUpload" />

        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <button class="btn btn-primary " id="btnEnviar" type="submit" data-translate="enviar">Enviar</button>
            </div>
        </div>
    </form>
</div>
