@model AltivaWebApp.Domains.TbFdTipoProveedor

    <div class="container ">
        <div class="row">
            <div class="col-md-12"><h3>Tipo proveedor:</h3></div>
            <div class="col-md-2">
                <label>Tipo proveedor:</label>
                <select id="familias" class="form-control search-key">
                    <option selected value="0" data-translate="selecciones"></option>


                </select>
            </div>
            <div class="col-md-2">
                <br />

                <button class="btn btn-link crearEditarFamilia" value="crear">
                    <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
                </button>
                <button class="btn btn-link crearEditarFamilia" id="editarFamilia" value="editar">
                    <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
                </button>
                <button id="eliminarFamilia" data-toggle="confirmation" class="btn btn-link">
                    <span style="font-size: 2rem"><i class="fas fa-trash"></i></span>
                </button>
            </div>
            <div class="col-md-2">
                <label>Familia:</label>
                <select id="familia" class="form-control search-key">
                    <option selected value="0" data-translate="selecciones"></option>


                </select>
            </div>
            <div class="col-md-2">
                <br />
                <button class="btn btn-link crearEditarFamilia" value="crear">
                    <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
                </button>
                <button class="btn btn-link crearEditarFamilia" id="editarFamilia" value="editar">
                    <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
                </button>
                <button id="eliminarFamilia" data-toggle="confirmation" class="btn btn-link">
                    <span style="font-size: 2rem"><i class="fas fa-trash"></i></span>
                </button>
            </div>
            <div class="col-md-2">
                <label>Sub-Familia:</label>
                <select id="subfamlia" class="form-control search-key">
                    <option selected value="0" data-translate="selecciones"></option>


                </select>
            </div>
            <div class="col-md-2">
                <br />
                <button class="btn btn-link crearEditarFamilia" value="crear">
                    <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
                </button>
                <button class="btn btn-link crearEditarFamilia" id="editarFamilia" value="editar">
                    <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
                </button>
                <button id="eliminarFamilia" data-toggle="confirmation" class="btn btn-link">
                    <span style="font-size: 2rem"><i class="fas fa-trash"></i></span>
                </button>
            </div>
        </div>




    </div>

