@model AltivaWebApp.ViewModels.LoginViewModel

@{
    Layout = "_HomeLayout";
    var emailModel = new EmailViewModel();
}
<style>
   
</style>
<div class="container col-md-12 justify-content-center" >
<div class="row  justify-content-center" >
    <div class="col-md-6  justify-content-center ">
        <div class="card    "  >
            <div class="card-body">
                <h5 class="card-title" data-translate="loginTituloIngreso" >Ingrese sus crendeciales</h5>
                <div class="row ">
                    <div class="col-md-12">
                        <form asp-action="Login"  method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"><span></span></div>
                            <div class="form-group">
                                <label data-translate="loginInputUsuario" asp-for="usuario" class="control-label">Usuario:</label>
                                <input asp-for="usuario" class="form-control" />
                                <span asp-validation-for="usuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label data-translate="loginInputContrasena" asp-for="contrasena" class="control-label">Contraseña:</label>
                                <input asp-for="contrasena" class="form-control" type="password" />
                                <span asp-validation-for="contrasena" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <span data-translate="loginChkRecuerdame">Recuerdame</span> <input asp-for="recuerdame" /> 
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input data-translate="loginInputIngresar" type="submit" value="Ingresar" class="btn btn-primary" />                                    
                                </div>
                            </div>
                        </form>
                        <div class="row"><button data-translate="loginInputOlvideContrasena" class="btn btn-link" data-toggle="modal" data-target="#recuperarContrasena">Olvidé mi contraseña</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="recuperarContrasena" tabindex="-1" role="dialog" aria-labelledby="recuperarContrasenaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <partial  name="../Cuenta/RecuperarContrasena" model="@emailModel" />
            </div>
        </div>
    </div>
</div>

