@model AltivaWebApp.ViewModels.EmailViewModel


@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-10">
        <h4 data-translate="loginRecuperarContrasena">Recuperar Contrasena</h4>
    </div>
    <div class="col-md-2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<hr />
<div class="row">
    <div class="col-md-12">
        <form  >            
            <div class="form-group">
                <label data-translate="loginInputCorreo" class="control-label">Correo</label>
                <input id="correo" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <a data-translate="loginBtnSolicitud" id="enviarSolicitud" class="btn btn-primary">Enviar Solicitud</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#enviarSolicitud').click(function () {

            var url = '../Cuenta/RecuperarContrasena';

            var model = {
                correo: $('#correo').val()
            };

            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: model,
                    success: function (data) {
                        console.log(data);
                        
                },
                    error: function (err, scnd) {
                        console.log(data);
                }
            });
        });

    });
</script>

