@model  IEnumerable<AltivaWebApp.ViewModels.ListaDesplegableGETViewModel>



<table class="table table-hover">
    <tbody id="u">
        <tr>

            <th> Nombre de la opcion</th>
            <td>Accion</td>
        </tr>
       @{ int l = 0;
            }
        <tr>
            @foreach (var item in Model)
            {



                <th class="col-md-8">
                    <input hidden type="text" value="@item.IdListaDesplegable" id="l @l " />
                    <input type="text" id="c @l " value="@item.IdCampoPersonalizado" hidden />
                    <input type="text" class="form-control" id="e @l " value="@item.Valor" />
                    <div id="mensajeLi @l "></div>
                </th>
                <td>
                    <button class="btn btn-link" onclick="EliminarCamposListaDesplegable(@item.IdCampoPersonalizado);">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
                l++;
            }

        </tr>


    </tbody>

</table>
