@model AltivaWebApp.ViewModels.AlertViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="text-center">
    
    <label asp-for="Mensaje" class="text-center"><span class="text-danger">@Model.Mensaje</span></label>
</div>

<script>

   
</script>