@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@inject IStringLocalizer<SharedResources> Lb

@{

    ViewData["Title"] = @Lb["Reporte"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <div class="row">


        </div>
    <table>
        <thead>
            <tr>
                <td>

                </td>
            </tr>

        </thead>

    </table>
</body>
</html>
