@model List<MensajeRecibidoViewModel>
@{ 

}

<div class="row">
    
    <div class="col-md-12">
        @{
            foreach (var item in Model)
            {
                <p>@item.Mensaje</p>
                <p>@item.ruta</p>
                <p>@item.UsuarioEmisor</p>
                <p>@item.IdReceptor</p>
            }
        }

    </div>

</div>





