@model List<MensajeRecibidoViewModel>
@{
    var usuarios = ViewData["usuarios"] as List<TbSeUsuario>;
}

<div class="row">


    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="media">
                <img src="@usuarios.FirstOrDefault(u => u.Id == item.IdUsuarioReceptor).Avatar" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">@usuarios.FirstOrDefault(u => u.Id == item.IdUsuarioReceptor).Nombre</h5>
                    <p>@item.Mensaje</p>
                </div>
            </div>
        </div>
    }




</div>





