@{
    Layout = "_Layout";

}
<div>
    <table class="table-responsive">
        <tbody>
            <tr>

                <td>
                    FACTURA
                <td>
                    CONTACTOS
                </td>
                <td>
                    CATALOGO PRODUCTOS
                </td>
            </tr>
            <tr>
                COMPRAS

            </tr>
            <tr>
                AJUSTES de INVENTARIO

            </tr>
        </tbody>
    </table>
</div>