@model AltivaWebApp.GEDomain.TbSePerfil


<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPerfil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <button data-translate="guardar" type="submit" class="btn btn-success"><span>Guardar </span><span><i class="fas fa-save"></i></span></button>
                </div>
                <div class="form-group col-md-6">                
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>


