
@model AltivaWebApp.GEDomain.TbSeMoneda
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<script>
    function cambioMoneda(valor) {
          $.ajax({
                headers: {
                           "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "GET",


                url: '@Url.Action("getTipoCambio","Monedas")',

                data: { id: valor },

                contentType: "application/json; charset=utf-8",
              success: function (data) {

                  $("#tipoCambioCompra").text(data.valorCompra);
                  $("#tipoCambioVenta").text(data.valorVenta);
                },

                dataType: "json"

        });





    }
    $(document).ready(function () {




        $("#moneda").append(' <select class="btn btn-primary btn-sm" id="tipoMoneda">< option > Seleccione</option ><option value="2" selected="selected">Dolar</option><option value="3">Euro</option></select> ');

        var valor1 = $("select#tipoMoneda").val();

        cambioMoneda(valor1);

        $("#tipoMoneda").change(function () {

            var valor = $(this).children("option:selected").val();
            if (valor == 'Seleccione') {
                $("#tipoCambio").val(0);
            }
            cambioMoneda(valor);


        });



    });



</script>

