
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body onload="idioma()" style="color:#73879C;">
    <div class="main">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Altiva soluciones</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a data-translate="homeIdioma" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Idioma
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a data-translate="homeIdiomaEpanol" class="dropdown-item" id="english">EN</a>
                            <a data-translate="homeIdiomaIngles" class="dropdown-item" id="spanish">ES</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
  
    <div class="main" style="margin: 2rem ; ">
        @RenderBody()
    </div>






    <script type="text/javascript">

        function idioma() {

            if (localStorage.getItem('idioma') != null) {
                $("[data-translate]").jqTranslate('/../idiomas/altiva', { forceLang: localStorage.getItem('idioma'), asyncLoad: false });
            }
        }
        $(document).ready(function () {


            $('#english').click(function () {
                $("[data-translate]").jqTranslate('/../idiomas/altiva', { defaultLang: 'es', forceLang: 'en', asyncLoad: false });
                localStorage.setItem('idioma', 'en');
            });
            $('#spanish').click(function () {
                $("[data-translate]").jqTranslate('/../idiomas/altiva', { defaultLang: 'en', forceLang: 'es', asyncLoad: false });
                localStorage.setItem('idioma', 'es');
            });

                $('#btn_ir').click(function () {
                   // alert($('#txt_grupo').val());
                    var grupo = $('#txt_grupo').val();
                    var url = '@Url.Action("Login", new { grupo = "__grupo__"})';
                    window.location.href = url.replace('__grupo__', grupo);

                });
            });


    </script>


    <script src="~/lib/translator/jqueryTranslator.js"></script>


</body>
</html>
