@model AltivaWebApp.ViewModels.CamposPersonalizadosViewModel

@{
    ViewData["Title"] = "Crear Contacto";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div>
    <a  asp-action="Index" class="btn btn-default">Atrás</a>
</div>
<h4>Seleccione el campo que desea agregar</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <div class="col-md-2">
            <div class="form-group ">
                <button class="btn btn-dark" id="fechaHora">Fecha y hora</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <button class="btn btn-dark" id="CheckBox">Check Box </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <button class="btn btn-dark" id="TextArea">Texto Grande </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <button class="btn btn-dark" id="Text"> Texto Pequeño </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <button type="button" class="btn btn-dark" id="btnAgregarNuevaLista">
                    Lista Desplegable
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <h5>Campos Personalizados agregados</h5>
        <form asp-action="create" asp-controller="CamposPersonalizados">
            <div class="panel panel-default pre-scrollable" style="height:100rem;" id="panelCampos">
                <div class="col-md-12">
                    <div id="ul">


                    </div>

                </div>
            </div>


            <button type="submit" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>
        </form>
      
    </div>
</div>





<script>
    function cancelar() {
        var opcion = confirm("Esta seguro que desea cancelar ?");
        if (opcion == true) {
             var urls = '@Url.Action("Index", "CamposPersonalizados")';
                        window.location.href = urls;
        } else {
            return ;
        }
    }
    var i = 0;
    $(document).ready(function () {

        $("#fechaHora").click(function () {
            $('#ul').append('<div class="col-md-8" id=li' + i + '><input hidden asp-for="tipo[]" name="tipo[]" id="fechayHora' + i + '" value="datetime-local"/>Nombre del campo fecha y hora: <input type="text"  required asp-for="nombre[]" name="nombre[]" class="form-control " id="' + i + '" /> </div><div class="col-md-1" id=li' + i + '><label>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></div><div class="col-md-12 text-danger" id=li' + i + ' hidden>El campo fecha y hora es requerido.</div>');

            i++;
        });
        $("#CheckBox").click(function () {
            $('#ul').append('<div class="col-md-8" id=li' + i + '><input hidden  asp-for="tipo[]" name="tipo[]"  id="checkbox' + i + '" value="checkbox"/>Nombre del campo CheckBox: <input type="text" required  asp-for="nombre[]" name="nombre[]" class="form-control input-mini" id=' + i + '/></div><div class="col-md-1" id=li' + i + '><label>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></div>');

            //$("#ul").append('<li id=li' + i + '><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></li>');
            i++;
        });
        $("#TextArea").click(function () {
            $('#ul').append('<div class="col-md-8" id=li' + i + '><input hidden asp-for="tipo[]" name="tipo[]" id="textArea' + i + '" value="textArea"/>Nombre del Texto Grande: <input required type="text"  asp-for="nombre[]" name="nombre[]" class="form-control input-mini" id=' + i + '/></div><div class="col-md-1" id=li' + i + '><label>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></div>');

            //  $("#ul").append('<li id=li' + i + '><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></li>');
            i++;
        });
        $("#Text").click(function () {
            $('#ul').append('<div class="col-md-8" id=li' + i + '><input hidden asp-for="tipo[]" name="tipo[]" id="text' + i + '" value="text"/>Nombre del texto: <input type="text" required asp-for="nombre[]" name="nombre[]" class="form-control input-mini" id=' + i + '/></div><div class="col-md-1" id=li' + i + '><label>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></div>');

            // $("#ul").append('<li id=li' + i + '><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></li>');
            i++;
        });
    });
    function eliminar(id) {
        var opcion = confirm("Esta seguro que desea eliminar el campo?");
        var mensaje;
        if (opcion == true) {
            $("#ul #li" + id + "").remove();

            i--;
            setTimeout(function () {
                $("#mensaje").fadeOut(10);
            }, 2000);

        } else {
            return;
        }


    }
</script>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="crearEditarPartial">

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="guardarLista" class="btn btn-link">Guardar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>

</div>
<script>

        //LLamar modal con datos precardados
        $('#btnAgregarNuevaLista').on('click', function () {

         
 $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "GET",


                    url: '@Url.Action("CrearLista", "ListaDesplegable")',


              success: function (data) {
                  $('#crearEditarPartial').html(data);
                  $('#myModal').modal('show');
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
        });


</script>
