@model AltivaWebApp.Domains.TbCrCamposPersonalizados

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="col-md-6">
    <a asp-action="Index" class="btn btn-link">Atras</a>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <th class="col-md-4">     @Html.DisplayNameFor(model => model.Nombre)</th>
                <td >           @Html.DisplayFor(model => model.Nombre)</td>
            </tr>
            <tr>
                <th  class="col-md-4">      @Html.DisplayNameFor(model => model.Tipo)</th>
                <td >          @Html.DisplayFor(model => model.Tipo)   </td>
            </tr>



            <tr>
                <th data-translate="editar" class="col-md-4">  <span>Editar</span> </th>
                <td>   <a href="#" class="btn btn-link  ">Editar&nbsp;<i style="font-size:2rem;" class="fas fa-edit"></i></a> </td>
            </tr>
        </tbody>
    </table>
  
</div>
<div>
  
</div>
