@model AltivaWebApp.Domains.TbCrCamposPersonalizados

@{
    ViewData["Title"] = "Editar Campos";
}

<h2>Editar Campo personalizado</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <a asp-action="Index" class="btn btn-link" style="font-size:1rem;">Atrás</a>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" readonly />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-link" style="font-size:1rem;"/>|
                <a onclick="cancelar()" class="btn btn-link" style="font-size:1rem;">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>
<script>
      function cancelar() {
        var opcion = confirm("Esta seguro que desea cancelar ?");
        if (opcion == true) {
             var urls = '@Url.Action("Index", "CamposPersonalizados")';
                        window.location.href = urls;
        } else {
            return ;
        }
    }
</script>
