@model string
@{

    Layout = null;

}

<div class="row modal-header">
    <button style="padding-left:1rem" class="btn btn-default" onclick="GetPDF()">PDF</button>
    <button class="btn btn-default" onclick="GetWORD()">WORD</button>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row">    
    <div class="col-md-12 col-sm-12 col-xs-12">
        @await ViewBag.reporte.Render()
    </div>
</div>

<div hidden style="display:none"  id="wordContent">
    
</div>
