.vs/
AltivaWebApp/bin/
AltivaWebApp/obj/
AltivaWebApp.Repositories/obj/
AltivaWebApp.Services/obj/
AltivaWebApp.ViewModels/obj/
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.AssemblyInfo.cs
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.csproj.CoreCompileInputs.cache
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.AssemblyInfo.cs
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.csproj.CoreCompileInputs.cache
