.vs/
AltivaWebApp/bin/
AltivaWebApp/obj/
AltivaWebApp.Repositories/obj/
AltivaWebApp.Services/obj/
AltivaWebApp.ViewModels/obj/
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.AssemblyInfo.cs
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.AssemblyInfoInputs.cache
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.csproj.CoreCompileInputs.cache
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.RazorAssemblyInfo.cache
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.RazorAssemblyInfo.cs
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.csproj.CoreCompileInputs.cache
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.AssemblyInfo.cs
WebApp/AltivaWebApp/obj/Debug/netcoreapp2.2/AltivaWebApp.csproj.CoreCompileInputs.cache
**/bin/Debug/
**/bin/Release/
**/obj/
