@model AltivaWebApp.Domains.TbCoConfiguracion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Configuración Contabilidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdConfiguracion" />
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TamanoCuenta" class="control-label"></label>
                <input asp-for="TamanoCuenta" class="form-control" />
                <span asp-validation-for="TamanoCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel1" class="control-label"></label>
                <input asp-for="Nivel1" class="form-control" />
                <span asp-validation-for="Nivel1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel2" class="control-label"></label>
                <input asp-for="Nivel2" class="form-control" />
                <span asp-validation-for="Nivel2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel3" class="control-label"></label>
                <input asp-for="Nivel3" class="form-control" />
                <span asp-validation-for="Nivel3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel4" class="control-label"></label>
                <input asp-for="Nivel4" class="form-control" />
                <span asp-validation-for="Nivel4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel5" class="control-label"></label>
                <input asp-for="Nivel5" class="form-control" />
                <span asp-validation-for="Nivel5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel6" class="control-label"></label>
                <input asp-for="Nivel6" class="form-control" />
                <span asp-validation-for="Nivel6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel8" class="control-label"></label>
                <input asp-for="Nivel8" class="form-control" />
                <span asp-validation-for="Nivel8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ejemplo" class="control-label"></label>
                <input asp-for="Ejemplo" class="form-control" />
                <span asp-validation-for="Ejemplo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel7" class="control-label"></label>
                <input asp-for="Nivel7" class="form-control" />
                <span asp-validation-for="Nivel7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDesde" class="control-label"></label>
                <input asp-for="FechaDesde" class="form-control" />
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHasta" class="control-label"></label>
                <input asp-for="FechaHasta" class="form-control" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

