@model AltivaWebApp.ViewModels.EmpresaViewModel

@{
    ViewData["Title"] = "EditarEmpresa";
}

<h3 data-translate="geEditarE">Editar Empresa</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarEmpresa" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" readonly class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="nombre" asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="correo" asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono1" class="control-label">Tel 1</label>
                <input asp-for="Telefono1" class="form-control" />
                <span asp-validation-for="Telefono1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono2" class="control-label">Tel 2</label>
                <input asp-for="Telefono2" class="form-control" />
                <span asp-validation-for="Telefono2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-translate="geThCedulaE" asp-for="CedJuridica" class="control-label">Cédula Jurídica</label>
                <input asp-for="CedJuridica" class="form-control" />
                <span asp-validation-for="CedJuridica" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Bd" class="control-label"></label>
                <input asp-for="Bd" readonly class="form-control" />
                <span asp-validation-for="Bd" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado" />  <span data-translate="geEditarEEstado">Activa?</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label data-translate="geThDireccioneE" asp-for="Direccion" class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Id_GE" class="control-label"></label>
                <input asp-for="Id_GE" readonly class="form-control" />
                <span asp-validation-for="Id_GE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-default" data-translate="atras" href="@Url.Action("DetallesEmpresa", new { nombre = Model.Nombre })" >Back to List</a>
                <input data-translate="submitguardar" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

